/* ----- Common rules ----- */
html {
  font-size: 62.5%;
  font-family: $main-font, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  // responsive BreakPoint 1184px
  @media (max-width: 1184px) {
    max-width: 1000px;
  }
  // responsive BreakPoint 992px
  @media (max-width: 992px) {
    max-width: 850px;
  }
  // responsive BreakPoint 768px
  @media (max-width: 768px) {
    max-width: 700px;
  }
  // responsive BreakPoint 576px
  @media (max-width: 576px) {
    max-width: 380px;
  }
}

a {
  text-decoration: none;
}
