/* ----- Variables ----- */

/* Colors */
$primary-color: #e7252c;
$secondary-color: #f6f6f6;
$tertiary-color: #151515;
$black: #000000;
$white: #ffffff;

/* Fonts */
$font: "Roboto Mono", monospace;
