/* ----- Variables ----- */

/* Colors */
$primary-color: #e7252c;
$secondary-color: #767676;
$tertiary-color: #202020;
$black: #000000;
$white: #ffffff;

/* Fonts */
$main-font: "Roboto Mono", monospace;

/* Padding */
$around-padding1: 1rem;
$around-padding2: 2rem;
$top-bottom-padding1: 1rem 0;
$top-bottom-padding2: 2rem 0;
$right-left-padding1: 0 &rem;
$right-left-padding2: 0 2rem;
