/* ----- Like page ----- */
.empty__likes {
  height: 100vh;
  background-image: url("/src/assets/img/spiderman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  .empty__content {
    color: $white;
    align-self: center;
    text-align: center;
  }
}
