/* ----- Input ----- */
.input {
  outline: none;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;
}

// responsive BreakPoint 768px
@media (max-width: 768px) {
  .input::placeholder {
    color: transparent;
  }
}

.input__log {
  border-bottom: 1px solid $primary-color;
}

@media (max-width: 768px) {
  .input__log::placeholder {
    color: $secondary-color;
    font-size: 1.4rem;
  }
}
