/* ----- Imports ----- */
/* ----- Variables ----- */
/* Colors */
/* Fonts */
/* Padding */
/* ----- Mixins ----- */
/*     RESET STYLE SHEET     */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
/* ----- Common rules ----- */
html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1184px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 850px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 380px;
  }
}

a {
  text-decoration: none;
}

/* ----- Typography ----- */
body {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 2.2rem;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 2rem;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 2.3rem;
  line-height: 1.8rem;
}

/* ----- Buttons ----- */
.btn {
  border: 2px solid #ffffff;
  transition: border-bottom 330ms ease-in-out;
  background-color: transparent;
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem;
  width: 150px;
  border-radius: 15px 0 15px 0;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: 1.4rem;
    width: 50px;
  }
}
@media (max-width: 576px) {
  .btn {
    font-size: 1.2rem;
  }
}
.btn:hover {
  cursor: pointer;
  border-color: #767676;
  transition: border-bottom 330ms ease-in-out;
}
.btn--hidden {
  display: none;
}

.btn__icon {
  display: none;
}
@media (max-width: 768px) {
  .btn__icon {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .btn__text {
    display: none;
  }
}

/* ----- Input ----- */
.input {
  outline: none;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;
}

@media (max-width: 768px) {
  .input::placeholder {
    color: transparent;
  }
}
.input__log {
  border-bottom: 1px solid #e7252c;
}

@media (max-width: 768px) {
  .input__log::placeholder {
    color: #767676;
    font-size: 1.4rem;
  }
}
/* ----- Card ----- */
.card__image {
  border-radius: 20px 0 20px 0;
  margin-bottom: 15px;
  width: 21rem;
  transform: scale(1);
  transition: transform 330ms ease-in-out;
}
.card__image:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.card__content {
  margin-bottom: 20px;
  color: #ffffff;
}
.card__content > h2 {
  margin-bottom: 20px;
  border-top: 1px dashed #e7252c;
  padding-top: 10px;
}
.card__content > p {
  padding: 0 10px 0 10px;
}

.MuiPagination-ul {
  justify-content: center;
}

/* ----- HEADER ----- */
/* ----- Header Globals ----- */
header {
  background-color: #202020;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header > .container {
  display: flex;
  flex-direction: column;
}

/* ----- Header account ----- */
.header__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__account .header__logo {
  width: 17.5rem;
  transform: scale(1);
  transition: transform 330ms ease-in-out;
}
@media (max-width: 992px) {
  .header__account .header__logo {
    width: 15.5rem;
  }
}
@media (max-width: 768px) {
  .header__account .header__logo {
    width: 13.5rem;
  }
}
.header__account .header__logo:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}
.header__account .account__buttons {
  display: flex;
  gap: 10px;
}

/* ----- Header Navbar----- */
.header__navbar {
  align-self: center;
}
.header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 768px) {
  .header__navbar ul {
    gap: 20px;
  }
}
.header__navbar ul .header__navbar--wrapper {
  padding: 2rem 0;
  border-bottom: 5px solid transparent;
  transition: border-bottom 330ms ease-in-out;
}
.header__navbar ul .header__navbar--wrapper:hover {
  border-bottom: 5px solid #e7252c;
  transition: border-bottom 330ms ease-in-out;
}
@media (max-width: 768px) {
  .header__navbar ul .header__navbar--wrapper {
    padding: 1rem 0;
  }
}
.header__navbar ul .header__navbar--link {
  color: #ffffff;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .header__navbar ul .header__navbar--link {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .header__navbar ul .header__navbar--link {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .header__navbar ul .header__navbar--link {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .header__navbar ul .header__navbar--link {
    font-size: 1.2rem;
  }
}

/* ----- Footer ----- */
footer {
  background-color: #202020;
  padding: 2rem 0;
  color: #ffffff;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  footer {
    padding: 1rem 0;
    font-size: 1.2rem;
  }
}
footer img {
  width: 30px;
  height: 30px;
}
footer a {
  color: #ffffff;
  font-weight: bold;
}

/* ----- Footer Links ----- */
.wrapper__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 0;
}
.wrapper__links .footer__links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper__links .footer__links img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 330ms ease-in-out;
}
.wrapper__links .footer__links img:hover {
  transform: scale(1.2);
  transition: transform 330ms ease-in-out;
}

/* ----- Footer content ----- */
.footer__by {
  padding: 1rem 0;
  text-align: center;
}
.footer__by a:hover {
  text-decoration: underline;
}

/* ----- Characters/Comic page ----- */
/* hero */
.character__hero {
  background-image: url("/src/assets/img/marvel-team.png");
  background-size: cover;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.comic__hero {
  background-image: url("/src/assets/img/comics-hero.jpg");
  background-size: cover;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero__content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.hero__content > h1 {
  color: #e7252c;
  text-align: center;
  padding: 2rem 0;
}

.research {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
}

.hero__searchbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1rem;
  background-color: #d3d3d3;
  width: 25%;
  border-radius: 15px 0 15px 0;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .hero__searchbar {
    width: 20%;
    padding-left: 20px;
  }
}

/* display cards */
.display__cards {
  margin-bottom: 70px;
}

.container__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .container__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .container__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card__article {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px 0 20px 0;
  background: linear-gradient(0deg, black 50%, rgb(237, 29, 35) 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.4s ease-in-out;
}
.card__article:hover {
  background-position: top;
  cursor: pointer;
}
.card__article:hover .card__content {
  color: #000000;
}
.card__article .hello {
  color: #e7252c;
  font-weight: bold;
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px 0 15px 0;
  padding: 1rem;
  z-index: 10;
}
@media (max-width: 576px) {
  .card__article {
    margin: 0 25px;
  }
}

.card__icons {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: 0.5rem;
  color: #767676;
}

.icon_red {
  color: #e7252c;
}

@media (max-width: 576px) {
  .MuiOutlinedInput-root {
    width: 60%;
  }
  .MuiFormControl-root {
    display: flex;
    justify-content: center;
  }
}
/* ----- Comic by charac id page ----- */
.character__id {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px dashed #e7252c;
}
.character__id--name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 782px) {
  .character__id--name {
    flex-direction: column;
  }
}
.character__id h1 {
  color: #e7252c;
}
@media (max-width: 782px) {
  .character__id h1 {
    margin-bottom: 20px;
  }
}
.character__id img {
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media (max-width: 782px) {
  .character__id img {
    height: 400px;
  }
}
.character__id p {
  text-align: justify;
}

.comics__linked {
  padding: 2rem 0;
  margin-bottom: 50px;
}
.comics__linked > h2 {
  margin-bottom: 20px;
}

.comics__linked--display {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 30px;
}
.comics__linked--display img {
  border-radius: 20px 0 20px 0;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.comics__linked--display:hover .comic__title {
  opacity: 1;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.comic__title {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #e7252c;
}

.hero-end {
  background-image: url(/src/assets/img/comicsbycharc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@media (max-width: 992px) {
  .hero-end {
    height: 20vh;
  }
}

/* ----- Like page ----- */
/* If NO LIKES*/
.empty__likes {
  height: 100vh;
  background-image: url("/src/assets/img/spiderman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.empty__likes .empty__content {
  color: #ffffff;
  align-self: center;
  text-align: center;
}

/* If LIKES*/
.character__favorite,
.comic__favorite {
  margin: 30px 0 20px 0;
}
.character__favorite > h2,
.comic__favorite > h2 {
  margin-bottom: 30px;
}

.character__list,
.comic__list {
  display: flex;
  gap: 50px;
  overflow: hidden;
  overflow-x: scroll;
}
.character__list article,
.comic__list article {
  width: 200px;
}
@media (max-width: 768px) {
  .character__list article,
  .comic__list article {
    width: 100px;
  }
}
.character__list article > img,
.comic__list article > img {
  width: 100%;
  border-radius: 20px 0 20px 0;
  box-shadow: rgba(231, 37, 44, 0.4) -5px 5px, rgba(231, 37, 44, 0.3) -10px 10px, rgba(231, 37, 44, 0.2) -15px 15px, rgba(231, 37, 44, 0.1) -20px 20px, rgba(231, 37, 44, 0.05) -25px 25px;
}

.content-orga {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-orga > h3 {
  font-size: 1.6rem;
}
.content-orga > .ban {
  color: #e7252c;
  font-size: 2rem;
}
.content-orga > .ban:hover {
  cursor: pointer;
}

.hero-endfav {
  background-image: url(/src/assets/img/marvel-fav.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@media (max-width: 992px) {
  .hero-endfav {
    height: 20vh;
  }
}

/* ----- Signup-Login page ----- */
.hero__log {
  background-image: url("/src/assets/img/singup-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .hero__log {
    height: 23vh;
  }
}

.container__log {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title__co {
  color: #e7252c;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 50px;
  gap: 20px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media (max-width: 922px) {
  form {
    width: 75%;
  }
}

.form__label {
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .form__label {
    font-size: 1.2rem;
  }
}

.form__submit {
  border: 3px solid #d3d3d3;
  border-radius: 20px 0 20px 0;
  padding: 2rem;
  background-color: #ffffff;
  color: #767676;
  font-size: 1.6rem;
  width: 50%;
  align-self: center;
  transition: border-bottom 330ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 768px) {
  .form__submit {
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #e7252c;
    color: #e7252c;
  }
}
.form__submit:hover {
  border-color: #e7252c;
  color: #e7252c;
  transition: border-bottom 330ms ease-in-out;
  cursor: pointer;
}

.log__redirect {
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 0;
  color: #e7252c;
}
@media (max-width: 768px) {
  .log__redirect {
    font-size: 1.2rem;
  }
}

.error__connection {
  color: #e7252c;
  text-decoration: underline;
  font-size: 1.6rem;
}

/* ----- Error page ----- */
.error {
  height: 100vh;
  background-image: url("/src/assets/img/marvel-error.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

/* ----- Error content ----- */
.error__content {
  color: #e7252c;
  align-self: center;
  text-align: center;
}
.error__content > h1 {
  margin-bottom: 50px;
}
.error__content > a {
  color: #e7252c;
  font-size: 3rem;
}
.error__content > a :hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}
@media (max-width: 768px) {
  .error__content > a {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
